.contact-container{
    display: grid;
    grid-template-columns: 1f,1f;
}
.hero-content{
    z-index:0;
    max-width:80rem;
    justify-content:center;
    align-items:center;
    gap:1rem;
    padding:1rem;
    display:flex
}
.indicator{
    width:max-content;
    display:inline-flex;
    position:relative
}